node_modules
out

# By @devtools/builtins/turborepo tool
.turbo

# By @devtools/builtins/ignore-sync
.prettierignore

# By @devtools/builtins/prettier
.prettierrc.json

# By @devtools/builtins/vscode
.vscode
